.*
!.gitignore
!.gitattributes
!.travis.yml
!.pep8speaks.yml
!.github
!.pre-commit-config.yaml
!.copier-answers.yml
!.zizmor.yml
*.pyc
*.log
output.csv
./data
build/
venv/
dist/
naamkaran.egg-info/
dev/
docs/build
docs/source/_build
.DS_Store
Dockerfile
coverage.xml
