.*
!.gitignore
!.gitattributes
!.travis.yml
!.pep8speaks.yml
!.github
!.pre-commit-config.yaml
!.copier-answers.yml
!.zizmor.yml
*.pyc
*.log
output.csv
./data
build/
venv/
dist/
naamkaran.egg-info/
dev/
docs/_build
docs/_site
.DS_Store
Dockerfile
coverage.xml
htmlcov/
.coverage
